.app-name {
  color: white;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

:focus {
  outline: none;
}

.header-container {
  background-image: url(./images/shooters/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  /*opacity: 0.5;*/
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-input {
  font-size: 25px;
  color: white;
  background: none;
  text-shadow: 1px 1px 1px black;
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  margin: 10px;
}
